body{
    font-family: 'Poppins', sans-serif;
}

ul li{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
ul li {
    list-style-type: none;
    float: right;
}
ul li a{
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    padding: 13px 18px;
    display: inline;


}

}
h1{
    font-size: 60px;
    font-weight: 900;
}
.r-color{
 color: #FF8367;
 
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, red, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 800;
    margin-bottom: 30px;
}

.h-w{
    float: left;
    width: 30%;
    margin: 6%;
    padding: 1%;
}
.h-w img{
    width: 100%;

}
section .h-w #latest{
    color:crimson;
    font-size: 35px;
    overflow: hidden;


}
.t-o{
    color: darkcyan;
}
#letest{
    background-color: silver;
    text-align: center;
}

.img-container{
    width: 30%;
    float: left;

}
.img-container img{
    width: 100%;
}
.box-1{
    background: url(images/Group_33094_1.png);no-repeat scroll center center /cover;
    width: 50%;
    margin: auto;
    padding: 102px 18px;
    overflow: hidden;
    
 
}
.box-1 img{
    border-radius: 30px;
    line-height: 50px;
    box-sizing: border-box;

}
.tago{
    overflow: hidden;
    width: 60%;
    padding-inline-start: 540px;
   padding-top: 80px;
  margin-top: -203px;
  font-size: 26px;
  color: aliceblue;
   }

.button-ow{
    text-decoration: none;
}
 
   
    

